.MenuListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--primary);
  border: 0.1vmin solid var(--accent);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.MenuListItem .image {
  height: 10vw;
  width: 10vw;
  font-size: 4vw;
  background-color: var(--secondary);
  border: 0.3vmin solid var(--accent);
  border-radius: 1vmin;
}

.MenuListItem .thumbnail {
  height: 150px;
  width: 150px;
}

.MenuListItem .buy {
  display: flex;
  flex-direction: column;
}

.MenuListItem .buy span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}

.MenuListItem .name {
  font-size: 2vw;
  text-align: center;
  color: var(--text-light);
}
