.NavBar {
  text-align: center;
  font-size: 22px;
  padding: 5px;
  text-transform: uppercase;
}

.NavBar a {
  text-decoration: none;
  color: black;
  padding: 1px;
}

.NavBar a:hover {
  background: var(--primary);
  color: var(--trim);
  padding: 1px;
}
